<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

    <script>
        let clientId = undefined;
        let lobbyId = undefined;
        let lobbyPlayers = [];
        let alias = undefined;
    </script>
</head>

<body>
<!-- Container for Overlays-->
    <div id="overlays">

        <!-- Overlay for Join Lobby-->
        <div class="overlay" id="joinLobbyOverlay" style="display: block;">
            <div><h2>Enter Lobby Code:</h2></div>
            <div id = "joinLobby">
                <textarea name="lobbyCode" id="lobbyCode" maxlength="8" rows="1" cols="12"></textarea>
            </div>
            <br>
            <!--Buttons for joining lobby or canceling-->
            <div id = "joinLobbyOptions" style="float: right;">
                <button onmousedown="joinLobby(document.getElementById('lobbyCode').value); hideOverlay();"  style="background-color: rgb(80, 223, 80);">Join Lobby</button>
                <button onmousedown="hideOverlay(); document.getElementById('lobbyCode').value=''" style="background-color: rgb(224, 49, 49);">Cancel</button>
            </div>
        </div>
    </div>
<!-- OVERLAYS END -->



 <!-- CONNECTIONS PAGE -->
    <div class="page active" id="connectingPage">
        <div>Connecting...</div>
    </div>
<!-- CONNECTION SPAGE END -->



<!-- MAIN MENU PAGE -->
    <div class="page" id="mainMenuPage">
        <div id="titleBar" style='padding:4px'>
            <div style="flex:1; text-align: left; font-size: 100%;"><h3>High Score:</h3></div>
            <div style="flex:2; text-align:center"> <h1><span class = "gradientTitle">Rainbow Universe</span></h1> </div>
            <div style='flex:1'><h3 id="userAlias1" style="text-align: right;"></h3></div>
        </div>
        <div>
            <br><br><br><br><br><br><br><br><br><br><!-- temp ;) -->
            <div id="menuOptions">
                <div><button onmousedown="quickPlay()" style="background-color: aqua;">Quick Play</button></div>
                <div><button onmousedown="createLobby()" style="background-color: orange;">Create Lobby</button></div>
                <div><button onmousedown="showOverlay('joinLobbyOverlay')" style="background-color: rgb(80, 223, 80);">Join Lobby</button></div>
                <div><button onmousedown="showOverlay('joinLobbyOverlay')" style="background-color: rgb(211, 112, 211);">Spectate</button></div>
                <div><button onmousedown="showPage('leaderBoardPage')" style="background-color: rgb(224, 49, 49);">Leader Boards</button></div>
            </div>
        </div>
    </div>
<!-- MAIN MENU PAGE END -->
    


<!-- LOBBY PAGE -->
    <div class="page" id="lobbyPage">
        <div id="titleBar" style='padding:4px'>
            <div style="flex:1; text-align: left; font-size: 100%;"><h3>High Score:</h3></div>
            <div style="flex:2; text-align:center"> <h1><span class = "gradientTitle">Rainbow Universe</span></h1> </div>
            <div style='flex:1;'><h3 id="userAlias2" style="text-align: right;"></h3></div>
        </div>
        
        <div id="lobbyInfo">
            <br><br><br><br><!-- temp ;) -->
            <div style="display:inline-block">
                <div id="lobbyHeader">Lobby:</div>
                <div id="membersContainer"></div>
                <div style="display:flex;">
                    <button onmousedown="leaveLobby()" style="background-color: aqua;">Leave Lobby</button>
                    <button onmousedown="startMatch()" style="background-color: orange;">Start Match</button>
                </div>
            </div>
        </div>
    </div>
<!-- LOBBY PAGE END -->



<!-- LEADERBOARD PAGE -->
    <div class="page" id="leaderBoardPage">
        <div id="titleBar" style='padding:4px'>
            <div style="flex:1; text-align: left; font-size: 100%;"><h3>High Score:</h3></div>
            <div style="flex:2; text-align:center"> <h1><span class = "gradientTitle">Rainbow Universe</span></h1> </div>
            <div style='flex:1;'><h3 id="userAlias3" style="text-align: right;"></h3></div>
        </div>
        <div style="text-align:center; margin: 10px">
            <div style="font-size:40pt; margin-top:50px; margin-bottom: 5px; border: 2px solid green; background-color: #87cefa75;"><p >TOP 25 TODAY</p></div>
            <div style="padding: 10px; border: 2px solid green;"> 
                <ol>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                </ol>
            </div>
            <div><button onmousedown="showPage('mainMenuPage')" style="background-color: rgb(80, 223, 80); margin-top:10px; border-radius: 10px;">Back to Menu</button></div>
        </div>
    </div>
<!-- LEADERBOARD PAGE END -->

    
<!-- GAME PAGE -->
    <div class="page" id="gamePage">
        <div style="display:flex; justify-content:center; align-items:center; height:100%">
            <div id="gameBoard" style="display:flex; flex-direction:column; width:80vh; height:80vh; border:1px solid black;">
            </div>
        </div>
    </div>
<!-- GAME PAGE -->

    <div class="page" id="winnerPage">
        <div id="titleBar">
            <div style="flex:1; text-align: left; font-size: 100%;"><h3>High Score:</h3></div>
            <div style="flex:2; text-align:center"> <h1><span class = "gradientTitle">Rainbow Universe</span></h1> </div>
            <div id="UserInfo" style="flex:1; text-align: right;"><button id="userAlias4"></button>
                <div></div>
            </div>
        </div>
        <div style="text-align:center">
            <br><br><br><br><br><br><br><br><br><br><!-- temp ;) -->
            <p style="padding: 10px; border: 2px solid black;">Winner: </p>
            <div><button onmousedown="createLobby()" style="background-color: rgb(112, 112, 202);">Back to Lobby</button></div>
            <div><button onmousedown="showPage('mainMenuPage')" style="background-color: rgb(112, 112, 202);">Back to Menu</button></div>
        </div>
    </div>
</body>


<script>
    let selectedPiece = undefined;

    (function generateBoard(){
        const boardContainer = document.getElementById('gameBoard');
        for(let i=0; i<8; i++){
            const newRow = document.createElement('div');
            newRow.style.display = 'flex';
            newRow.style.flexDirection = 'row';
            newRow.style.flex = '1';
            for(let j=0; j<8; j++){
                const newCell = document.createElement('div');
                newCell.style.position = 'relative';
                newCell.style.flex = '1';
                newCell.style.backgroundColor = (i+j)%2 ? 'black' : 'white';
                newRow.appendChild(newCell)
            }
            boardContainer.appendChild(newRow);
        }
    })();

    function updateBoard(board){

        for(let i=0; i<8; i++){

            for(let j=0; j<8; j++){
                if (board[i][j] == 'r') {
                    const newPiece = document.createElement('span');
                    newPiece.addEventListener('click', function(event){
                        event.target.style.border = '2px solid yellow';
                        selectedPiece = event.target;
                    })
                    newPiece.className="redPiece";
                    gameBoard.children[i].children[j].appendChild(newPiece);
                }
                if (board[i][j] == 'b') {
                    const newPiece = document.createElement('span');
                    newPiece.className="bluePiece";
                    gameBoard.children[i].children[j].appendChild(newPiece);
                }
            }

        }
    }

    const onShowPage = {
        "mainMenuPage": function(page){
            document.getElementById("userAlias1").innerHTML = alias;
        },

        "lobbyPage": function(page){
            document.getElementById("lobbyHeader").innerHTML = "Lobby: " + lobbyId;
            document.getElementById("userAlias2").innerHTML = alias;
        },

        "leaderBoardPage": function(page){
            document.getElementById("userAlias3").innerHTML = alias;
        }
    };

    const onHidePage = {

    };

    const showPage = function(page){
        const pageElement = document.getElementById(page);
        const activePages = pageElement.parentElement.getElementsByClassName("active")
        for(let j=activePages.length-1; j>=0; j--){
            (onHidePage[activePages[j].id] || function(){})(activePages[j]);
            activePages[j].classList.remove("active");
        }

        pageElement.classList.add("active");
        (onShowPage[page] || function(){})(pageElement);
    }


    const showOverlay = function(overlayId){
        document.getElementById("overlays").style.display = "flex";
        document.getElementById(overlayId).classList.add("active");
    }

    const hideOverlay = function(){
        const overlayContainer = document.getElementById("overlays");
        document.getElementById("overlays").style.display = "none";
        const elements = overlayContainer.getElementsByClassName("active");
        for(let i=elements.length-1; i>=0; i--){
            elements[i].classList.remove("active");
        }
    }


    function addPlayerToLobby(player, controlButtons){
        playerData = player.split(":")

        const memberContainer = document.createElement("div");
        memberContainer.className = "lobbyMember";
        memberContainer.setAttribute("clientId", playerData[1]);
        memberContainer.innerHTML = playerData[0];

        if(controlButtons){
            const buttonContainer = document.createElement("div");
            buttonContainer.style.height = "100%";
            buttonContainer.style.float = "right";

            const banButton = document.createElement("div");
            banButton.className = "lobbyMemberButton";
            banButton.onmousedown = function(){ banPlayerFromLobby(playerData[1]); }
            banButton.innerHTML = "Ban";
            buttonContainer.appendChild(banButton);

            const kickButton = document.createElement("div");
            kickButton.className = "lobbyMemberButton";
            kickButton.onmousedown = function(){ kickPlayerFromLobby(playerData[1]); }
            kickButton.innerHTML = "Kick";
            buttonContainer.appendChild(kickButton);

            memberContainer.appendChild(buttonContainer);
        }

        const membersContainer = document.getElementById("membersContainer");
        membersContainer.appendChild(memberContainer);
    }



    const host = "{{SOCKET_SERVER_ADDR}}";
    const socket = new WebSocket(host);

    const setAlias = function(alias){
        socket.send("cl_alias|" + alias);
    }

    const createLobby = function(){
        socket.send("lb_create|");
    }

    const joinLobby = function(localLobbyId){
        lobbyId = localLobbyId;
        socket.send("lb_join|" + localLobbyId);
    }

    const leaveLobby = function(){
        socket.send("lb_leave|");
        lobbyPlayers = [];
        lobbyId = undefined;
        showPage("mainMenuPage");
    }

    const kickPlayerFromLobby = function(clientId){
        socket.send("lb_kick|" + clientId);
    }

    const banPlayerFromLobby = function(clientId){
        socket.send("lb_ban|" + clientId);
    }

    const startMatch = function(){
        socket.send('lb_start|');
    }

    socket.onopen = function(){
        console.log("Connected");
    }

    socket.onerror = function(e){
        console.log("Error");
        console.log(e);
    }

    socket.onclose = function(e){
        console.log("Closed");
        console.log(e);
    }

    socket.onmessage = function(e){
        const messageData = e.data.split("|")
        const type        = messageData[0];
        const message     = messageData[1];
        
        (({
            "sv_error":function(message){
                console.log("Server encountered an error: " + message);
            },

            "cl_init":function(message){
                const clientInfo = message.split(":")
                clientId = clientInfo[1];
                if(alias === undefined){
                    alias = clientInfo[0];
                }else{
                    setAlias(alias);
                }

                document.cookie = "clientId=" + message;
                console.log("Client ID =", clientId);
                showPage("mainMenuPage");
            },

            "cl_alias":function(message){
                alias = message;
                console.log("Alias changed:", alias);
            },

            "lb_init":function(message){
                lobbyId = message;
                console.log(lobbyId);
                lobbyPlayers = ["*"+alias+":"+clientId];
                showPage("lobbyPage");
            },

            "lb_joined":function(message){
                console.log(message)
                showPage("lobbyPage");
            },

            "lb_kicked":function(message){
                console.log("You have been kicked from the lobby");
                showPage("mainMenuPage");
            },

            "lb_banned":function(message){
                console.log("You have been banned from the lobby");
                showPage("mainMenuPage");
            },

            "lb_promoted":function(message){
                console.log("You have been promoted to lobby leader");
                
                console.log("Lobby created");
                console.log("Lobby ID =", lobbyId);
                lobbyPlayers = ["*"+alias+":"+clientId];
                showPage("lobbyPage");
                addPlayerToLobby(lobbyPlayers[0], false);
            },

            "lb_updated":function(message){
                document.getElementById("membersContainer").innerHTML = "";
                lobbyPlayers = message.split(",");
                const playersCount = lobbyPlayers.length;

                const isLobbyLeader = lobbyPlayers[0] == alias+":"+clientId;
                if(isLobbyLeader){
                    addPlayerToLobby(lobbyPlayers[0], false);
                    for(let i=1; i<playersCount; i++){
                        addPlayerToLobby(lobbyPlayers[i], true);
                    }
                }else{
                    for(let i=0; i<playersCount; i++){
                        addPlayerToLobby(lobbyPlayers[i], false);
                    }
                }
            },

            "gm_started":function(message){
                const data = JSON.parse(message);
                updateBoard(data.board);
                showPage("gamePage");
            },

            "gm_updated":function(message){
                const data = JSON.parse(message);
                updateBoard(data.board);
            },

            "gm_continue":function(message){
                const gameData = JSON.parse(message);
                showPage("gamePage");
            }
        })[type] || function(){})(message);
    }

</script>