body {
    margin:0;
    width:100%;
    height:100%;
    background-image: url(backdrop.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#overlays {
    display: none;
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background-color: #00000033;

    
    align-items: center;
    justify-content: center;
}

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
}

.page {
    display: none;
    width:100%;
    height:100%;
}

.active {
    display: inline-block;
}

#menuOptions {
    text-align: center;
}

#menuOptions > div > button {
    width:220px;
    height:55px;
    margin:5px;

    border-radius: 10px;
    transition-duration: 0.4s;
}

#menuOptions > div > button:hover{
    width: 240px;
}

#titleBar{
    background-color:#FFFFFF;
    display:flex;
    height:50px;
    width:100%;
    flex-direction:row;
}

.gradientTitle{
    background: -webkit-linear-gradient(right,red, yellow, green, cyan, blue, magenta);
    background: -o-linear-gradient(right,red, yellow, green, cyan, blue, magenta);
    background: -moz-linear-gradient(right,red, yellow, green, cyan, blue, magenta);
    background: linear-gradient(to right,red, yellow, green, cyan, blue, magenta);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#joinLobbyOverlay{
    padding: 10px;
    background-color: rgb(172, 172, 172);
    border: 2px solid black;
    border-radius: 10px;
}
#joinLobbyOverlay > #joinLobby > textarea[name = "lobbyCode"]{
    resize: none;
    text-align: center;
    font-size: 40pt;
    overflow: unset;
}

#joinLobbyOverlay > #joinLobbyOptions > button{
    border-radius: 10px;
}


#lobbyHeader {
    font-size: 40px;
    text-align: center;
}

.lobbyMember {
    height:70px;
    width:700px;
    background-color: #fa3434;
    margin:5px;
    font-size: 50px;
    padding: 0 5px;
    border-radius: 10px;
    line-height: 70px;
}

.lobbyMemberButton {
    height:50%;
    font-size: 55%;
    line-height: 100%;
    padding: 0;
}

.lobbyMemberButton:hover {
    cursor: pointer;
    color:#333333;
}

#lobbyInfo{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#lobbyInfo button{
    border-radius: 10px;
    flex:1;
    margin:5px;
    height:50px;
}

.circleBase {
    border-radius: 50%;
}
  
.redPiece {
    border-radius: 100%;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    background: radial-gradient(circle, lightcoral, red, darkred);
    background: -webkit-radial-gradient(circle, lightcoral, red, darkred);
    background: -moz-radial-gradient(circle, lightcoral, red, darkred)

}

.bluePiece {
    border-radius: 100%;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    background: radial-gradient(circle, lightblue, blue, darkblue);
    background: -webkit-radial-gradient(circle, lightblue, blue, darkblue);
    background: -moz-radial-gradient(circle, lightblue, blue, darkblue)
}


.availableCells{
    background-color: yellow;
}

.unavailableCells{
    background-color: black;
}